/*CSS*/

/*
red-shade: rgb(223,81,76);
green-shade: rgb(31,218,154);
blue-shade: rgb(40,171,227);
yellow-shade: rgb();
*/
body{
  background-color: rgb(240,240,240); 
}
.container{
  width: 80%;
  background-color: rgb(255,255,255);
  max-width: 1200px;
  min-width: 800px;
  min-height: 800px;
  padding: 0;
}
.header{
  background-color: rgb(40,171,227);
  color:  white;
  width: 100%;
}

.positive{
  background-color: rgb(31,218,154);
  color: white;
  transition: all 0.3s ease 0s;
}
.negative{
  background-color: rgb(223,81,76);
  color: white;
  transition: all 0.3s ease 0s;
}
.up-arrow{
  color: green;
}
.down-arrow{
  color: red;
}
.edit-options{
  margin:    30px 0;
}
.overall-portfolio{
  font-size: 16px;
  margin:  20px 0;
}
.overall-portfolio .pLabel{
  font-weight: bold;
  padding:    10px;
}
.overall-portfolio .pValue{
  padding: 10px;
}
.table{
  font-size: 14px;
}
.operations{
  padding-top: 30px;
}
.add-options{
  margin-bottom: 20px;
}
.settings{
  text-align: right;
}